services:
  web:
    build: .Dockerfile.dev
    command: python manage.py runserver 0.0.0.0:8008
    volumes:
      - ./app:/app
    ports:
      - "8008:8008"
    env_file:
      - .env
    depends_on:
      - db
      - minio

  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=construccion_db
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
    ports:
      - "5432:5432"

  # Almacenamiento de Archivos (S3 Compatible)
  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000" # API
      - "9001:9001" # Consola Web
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    volumes:
      - minio_data:/data

  # Servicio "efímero" para crear el bucket automáticamente
  createbuckets:
    image: minio/mc
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc alias set myminio http://minio:9000 minioadmin minioadmin;
      /usr/bin/mc mb -p myminio/construccion-media-public;
      /usr/bin/mc mb -p myminio/construccion-media-private;
      /usr/bin/mc anonymous set download myminio/construccion-media-public;
      exit 0;
      "


volumes:
  postgres_data:
  minio_data: